@charset "UTF-8";
@font-face { font-family:Raleway; src:url('Raleway-Medium.ttf'); }
@font-face { font-family:opensans; src:url('OpenSansRegular.ttf'); }
@font-face { font-family:museo; src:url('museo.otf'); }
@font-face { font-family:COPRGTL; src:url('coprgtl.ttf'); }
@font-face { font-family:TitilliumWeb; src:url('TitilliumWeb-Regular.ttf'); }
@font-face { font-family:keepcalm; src:url('KeepCalm-Medium.ttf'); }
@font-face { font-family:GOTHIC; src:url('GOTHIC.ttf'); }
